.hero {
    background: var(--color-grey-3);
}
.wrap {

}
.box {
width: 90%;
max-width: 600px;
}
.title {
    font-family: var(--font-2);
    font-size: var(--size-10);
}
.desc {
    font-size: var(--size-3);
    color: var(--color-black-4);
}
.button {
    width: 210px;
    height: 50px;
    background: var(--color-black-0);
    border-radius: var(--radius-full);
    color: var(--color-white);
    font-weight: 500;
    text-transform: capitalize;
    font-size: var(--size-3);
}
.stats {

}
.item {

}
.number {

}
.text {

}