.body{
    background-color: var(--color-black-0);
    border-radius: var( --radius-5);
    height: 180px;
}
.title{
    color: var(--color-white);
    margin: 20px;
    position: fixed;
    top: 30px;
    font-family: var(--font-2);
    font-size:var(--size-9) ;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.input{
    width: 20%;
    height: 50px;
    position: fixed;
    left: 55%;
    top: 2%;
    border-radius: var(--radius-full);
    
}
.button{
    background-color: var(--color-white);
    width: 20%;
    height: 50px;
    position: fixed;
    left: 55%;
    top: 10%;
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
}