.dress_wrap{
width: 105%;
height: 866px;
background-color:var(--color-grey-2);
margin: 20px;
border-radius: 50px;

}
.dress_title{
     font-family: var(--font-2);
  color: var(--color-black-0);
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  top: 5%;
}

.dress_styles{
width: 90%;
  max-width: 1100px;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
display: grid;
gap: 25px;
}

.dresss_style{
    height: 50%;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.dress_style {
    height: 49%;
display: flex;
gap: 25px; 
}
.dress_img1{
    border-radius: 20px;
}
.dress_img2{
   width: 684px;
    border-radius: 20px;
    
}
.dress_img3{
   
border-radius: 20px;
}
.dress_img4{
    width: 407px;
border-radius: 20px;

}



.dress_casual{
    position: relative;
    display: inline-block;
}

.dress_casual .dress_text{
position: absolute;
top: 15%;
left: 15%;
translate: -50% -50%;
font-family: var(--font-1);
}
.dress_formal .dress_text{
position: absolute;
top: 15%;
left: 10%;
translate: -50% -50%;
font-family: var(--font-1);
}
.dress_party .dress_text{
position: absolute;
top: 15%;
left: 10%;
translate: -50% -50%;
font-family: var(--font-1);
}
.dress_gym .dress_text{
position: absolute;
top: 15%;
left: 10%;
translate: -50% -50%;
font-family: var(--font-1);
}
.dress_formal{
    position: relative;
    display: inline-block;
}
.dress_party{
position: relative;
display: inline-block;
}
.dress_gym{
    position: relative;
    display: inline-block;
}